@model Student
@{
    ViewBag.Title = "Student Editor";
}

<form method="post">
    @*  <input type="hidden" name="Id" value="@Model.Id" />*@
    <label>Student name : </label>
    <input type="text" name="Name" value="@Model.Name" /><br />
    <label>Student age : </label>
    <input type="text" name="Age" value="@Model.Age" /><br />
    <label>Student Email : </label>
    <input type="text" name="Email" value="@Model.Email" /><br />
    <label>Student Password : </label>
    <input asp-for="Password" value="@Model.Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <label>Confirm Password : </label>
    <input asp-for="CPassword" value="@Model.CPassword" />
    <span asp-validation-for="CPassword"></span>
    <br /> 
        @*foreach (var item in ViewBag.Dept)
        {
            <option value="@item.Id">@item.Name</option>
        }*@
    <select name="DeptId" id="DeptId" asp-for="DeptId" asp-items="ViewBag.Dept">
    </select>
    <br />
    <input type="submit" value="Update" class="btn btn-danger" />
</form>
@section scripts{
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}